@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;


}

body{
    background-color: whitesmoke;
}

.start_btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* Start Quiz button styling*/
.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: pink;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
}